*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Cookie";
    src: url("../fonts/Cookie-Regular.ttf");
}
@font-face {
    font-family: "Edu";
    src: url("../fonts/EduNSWACTFoundation-VariableFont_wght.ttf");
}

@media (min-width: 1140px) {
    .logo {
        width: 20%;
        height: 20%;    
    }
}

.jumbotron{
    background-image: url("../img/portada.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: none;
    text-shadow: 0 0 5px black;
    width: 100%;
    height: 400px;
    margin-bottom: 0;
    border-radius: 0;
    padding: 20px 0 0 20px;
}

h1{
    font-family: "Cookie";
    font-size: 60px;
    margin-top: 30px;
    text-align: center;
}
h2{
    font-family: "Edu";
    font-size: 30px;
}
h3{
    font-family: "Edu";
    font-size: 20px;
    color: green;
}

p{
    font-family: "Edu";
    font-size: 20px;
}
button{
    font-family: "Edu";
    text-transform: uppercase;
    font-size: 50px;
}
button:hover{
    transform: scale(1.05);
    transition: all 0.9s;
}
nav a{
    text-transform: uppercase;
}
nav a:hover{
    transform: scale(1.02);
    transition: all 0.9s;
    
}

.banner{
    text-align:center;
    padding: 60px 20px;
}
.imgBanner, .imgBannerT{
    background-position: top;
    background-size: cover;
    background-repeat: none;
    height: 410px;
}

@media (max-width: 992px) {
    .imgBannerT {
        height: 600px;    
    }
    .banner{
        text-align:center;
        padding: 10px;
    }
}
.imgBanner1{
    background-image: linear-gradient(rgba(6, 21, 6, 0.5),rgba(255, 255, 255, 0.5)),url("../img/cocinera1.jpg");
}
.imgBanner2{
    background-image: linear-gradient(rgba(6, 21, 6, 0.5),rgba(255, 255, 255, 0.5)),url("../img/eventos.jpg");
}
.imgBanner3{
    background-image: linear-gradient(rgba(6, 21, 6, 0.5),rgba(255, 255, 255, 0.5)),url("../img/principal.jpg");
}

.nCards{
    border-color: white;
    text-align: center;
    max-width: 80%;
    margin-bottom: 5px;
}

.menu{
    margin: 20px 0 10px 0;
}
.btnMenu{
    margin: 0 0 20px 0;
    text-align: center;
}
.menuEncabezado{
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.carousel-item{
    text-align: center;

}

.contacto {
    text-align: center;

}

.contacto i{
    font-size: 35px;
    color: green;
    letter-spacing: 30px;
}
.contacto i:hover{
    color: white;
    transform: scale(1.05);
    transition: all 0.9s;
}

iframe {
    text-align: center;
    width: 100%;
    height: 20em;
}

.galeria{
    width: 100%;
    background-color: #333;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    padding: 20px;
    grid-gap: 15px;
    margin-bottom: 15px;
}
.imgenGaleria{
    background-color: grey;
    border: 1px solid white;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.imgenGaleria:hover{
    transform: scale(1.05);
    transition: all 0.9s;
    filter: grayscale(0%);
}
.img1{
    background-image: url("../img/rest1.jpg");
}
.img2{
    background-image: url("../img/rest2.jpg");
}
.img3{
    background-image: url("../img/rest3.jpg");
}
.img4{
    background-image: url("../img/rest4.jpg");
}
.img5{
    background-image: url("../img/rest5.jpg");
}
.img6{
    background-image: url("../img/rest6.jpg");
}
.img7{
    background-image: url("../img/rest7.jpg");
}
.img8{
    background-image: url("../img/rest8.jpg");
}

footer{
    color:  #000;
    text-align: center;
    font-size: 20px;
    height: 150px;
    padding-top: 20px;
}
footer i{
    font-size: 40px;
    color: green;
    letter-spacing: 30px;
}
footer i:hover{
    color: white;
    transform: scale(1.05);
    transition: all 0.9s;
}

.imgGoTop {
    font-size: 40px;
    color:green;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;    
}

@media only screen and (min-width:480px){
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .galeria{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .img1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .img2{
        grid-column:3/4;
        grid-row: 1/2;
    }
    .img3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .img4{
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .img5{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .img6{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .img7{
        grid-column:1/2;
        grid-row: 4/5;
    }
    .img8{
        grid-column: 2/4;
        grid-row: 4/5;
    }
}

@media only screen and (min-width: 1024px){
    .galeria{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 200px);
    }
}